# Alaprendszer #
################
/node_modules
/public/css
/public/js
/public/hot
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup

.phpunit.result.cache

composer.lock
package-lock.json
yarn.lock

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

# Egyéb #
#########
/dumpfiles
.editorconfig
.gitignore.rej
